dn: uid=stoeps,dc=stoeps,dc=home
uid: stoeps
Title: Mr.
GivenName: Christoph
sn: Stoettner
cn: Christoph Stoettner
StreetAddress: Werlestr. 19
l: Heppenheim
postalCode: 64646
mail: stoeps@vegardit.com
userPassword: {SSHA}nvuab5fhuxQYJFsjCLcf6lurSp9c218M
TelephoneNumber: +491738588719
objectClass: inetOrgPerson
