[Unit]
Description=IBM WebSphere Application Server - AppSrv01
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ was_root_folder }}/profiles/AppSrv01/logs/nodeagent/nodeagent.pid
ExecStart={{ was_root_folder }}/profiles/AppSrv01/bin/startNode.sh
ExecStop={{ was_root_folder }}/profiles/AppSrv01/bin/stopNode.sh -username {{ was_username }} -password {{ was_password }} -stopservers
LimitNOFILE=infinity
User={{ was_run_user }}
Group={{ was_run_group }}

[Install]
WantedBy=multi-user.target
